{% extends "base.html" %}
{% load static %}
{% block title %}Сравнение занятости в регионах РФ{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'regions/css/region_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'regions\css\info_regions.css' %}"/>
    <link rel="stylesheet" href="{% static 'map/css/russia_map.css' %}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">

    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet"/>
{% endblock %}


{% block content %}
<div class="select-region">
    <div class="map-russia">
         {% include "map/russia.html" %}
    </div>
    <div class="select-from-list-and-text">
        <p id="title-name">СРАВНЕНИЕ РЕГИОНОВ</p>
        <!-- <div class="select-from-list"> -->
            <h2>Первый регион:</h2>
            <select class="select-name-region-first" >
                <option value=""></option>
            </select>
            <h2>Второй регион:</h2>
            <select class="select-name-region-second" >
                <option value=""></option>
            </select>
            <!-- <p>Вы можете посмотреть информацию за год, квартал, месяц....</p>
            <select class="select-time">
                <option value="year" selected="selected"></option>
            </select> -->
        <!-- </div> -->
        <button id="button-show-info">ПОИСК</button>
        <div id="anchors">
            <a href="#p-LaborForceRegion">Численность</a>
            <a href="#p-WorkForceLevel">Уровень участия</a>
            <a href="#p-WorkForceHE">Доля рабочей силы</a>
        </div>
    </div>

</div>
<div class="show-info">
    
    {% include "regions/info_region.html" %}

</div>
{% endblock %}
{% block scripts %}
<!-- подключение jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!-- подключение selext2 -->
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
<!-- подключение chart -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- подключение axois (для получения данных) -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="{% static 'regions/js/select_region.js' %}"></script>
<script src="{% static 'regions/js/compare_regions_map.js' %}"></script>
<script src="{% static 'api\js\data_compare_regions.js' %}"></script>


{% endblock %}
