{% extends "base.html" %}
{% load static %}
{% block title %}Сравнение занятости в регионах РФ{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'regions/css/region_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'regions\css\info_regions.css' %}"/>
    <link rel="stylesheet" href="{% static 'map/css/russia_map.css' %}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">

    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet"/>
{% endblock %}


{% block content %}
<div class="select-region">
    <div class="map-russia">
         {% include "map/russia.html" %}
    </div>
    <div class="select-from-list-and-text">
        <p id="title-name">СРАВНЕНИЕ РЕГИОНОВ</p>
        <!-- <div class="select-from-list"> -->
            <h1>Первый регион:</h1>
            <select class="select-name-region-first" >
                <option value=""></option>
            </select>
            <h1>Второй регион:</h1>
            <select class="select-name-region-second" >
                <option value=""></option>
            </select>
            <!-- <p>Вы можете посмотреть информацию за год, квартал, месяц....</p>
            <select class="select-time">
                <option value="year" selected="selected"></option>
            </select> -->
        <!-- </div> -->
        <button id="button-show-info">ПОИСК</button>
        <div id="anchors">
            <a href="#p-LaborForceRegion">Численность</a>
            <a href="#p-WorkForceLevel">Уровень участия</a>
            <a href="#p-WorkForceHE">Доля рабочей силы</a>
        </div>
    </div>

</div>
<div class="show-info">
    
    {% include "regions/info_region.html" %}

</div>
{% endblock %}
{% block scripts %}
<!-- подключение jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!-- подключение selext2 -->
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
<!-- подключение chart -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="{% static 'regions/js/select_region.js' %}"></script>
<script src="{% static 'regions/js/compare_regions_map.js' %}"></script>
<script src="{% static 'regions/js/charts.js' %}"></script>

<script>
    btn.addEventListener("click", function () {
        if ($('.select-name-region-first').val() && $('.select-name-region-second').val()){
            var nameLaborForceRegion = `{{ nameLaborForceRegion|safe }}`;
            // var year_2017_lbr = `{{ year_2017_lbr|safe }}`;
            var year_2018_lbr = `{{ year_2018_lbr|safe }}`;
            var year_2019_lbr = `{{ year_2019_lbr|safe }}`;
            var year_2020_lbr = `{{ year_2020_lbr|safe }}`;
            var year_2021_lbr = `{{ year_2021_lbr|safe }}`;
            var year_2022_lbr = `{{ year_2022_lbr|safe }}`;
            var year_2023_lbr = `{{ year_2023_lbr|safe }}`;
            var year_2024_lbr = `{{ year_2024_lbr|safe }}`;
            //PopulationRegion
            var namePopulationRegion = `{{ namePopulationRegion|safe }}`;
            var year_2018_pr = `{{ year_2018_pr|safe }}`;
            var year_2019_pr = `{{ year_2019_pr|safe }}`;
            var year_2020_pr = `{{ year_2020_pr|safe }}`;
            var year_2021_pr = `{{ year_2021_pr|safe }}`;
            var year_2022_pr = `{{ year_2022_pr|safe }}`;
            var year_2023_pr = `{{ year_2023_pr|safe }}`;
            var year_2024_pr = `{{ year_2024_pr|safe }}`;
            //#WorkForceLevel
            var nameWorkForceLevel = `{{ nameWorkForceLevel|safe }}`;
            var year_2018_wfl = `{{ year_2018_wfl|safe }}`;
            var year_2019_wfl = `{{ year_2019_wfl|safe }}`;
            var year_2020_wfl = `{{ year_2020_wfl|safe }}`;
            var year_2021_wfl = `{{ year_2021_wfl|safe }}`;
            var year_2022_wfl = `{{ year_2022_wfl|safe }}`;
            var year_2023_wfl = `{{ year_2023_wfl|safe }}`;
            var year_2024_wfl = `{{ year_2024_wfl|safe }}`;
            //WorkForceLevel
            var nameWorkForceHE = `{{ nameWorkForceHE|safe }}`;
            var year_2019_wfhe = `{{ year_2019_wfhe|safe }}`;
            var year_2020_wfhe = `{{ year_2020_wfhe|safe }}`;
            var year_2021_wfhe = `{{ year_2021_wfhe|safe }}`;
            var year_2022_wfhe = `{{ year_2022_wfhe|safe }}`;
            var year_2023_wfhe = `{{ year_2023_wfhe|safe }}`;
            var year_2024_wfhe = `{{ year_2024_wfhe|safe }}`;

            
            var region_name_first = $('.select-name-region-first option:selected').text();
            var region_name_second = $('.select-name-region-second option:selected').text();

            updateChartLaborForceRegion_Comp(region_name_first, region_name_second, nameLaborForceRegion, year_2018_lbr, year_2019_lbr, year_2020_lbr, year_2021_lbr, year_2022_lbr, year_2023_lbr, year_2024_lbr,
                namePopulationRegion, year_2018_pr, year_2019_pr, year_2020_pr, year_2021_pr, year_2022_pr, year_2023_pr, year_2024_pr
            );
            updateChartWorkForceLevel_Comp(region_name_first, region_name_second, nameWorkForceLevel, year_2018_wfl , year_2019_wfl , year_2020_wfl , year_2021_wfl , year_2022_wfl , year_2023_wfl , year_2024_wfl);
            updateChartWorkForceHE_Comp(region_name_first, region_name_second, nameWorkForceHE, year_2019_wfhe , year_2020_wfhe , year_2021_wfhe , year_2022_wfhe , year_2023_wfhe , year_2024_wfhe);
    
        }
    });
</script>

{% endblock %}
