<div class="show-charts">
    <p id="p-LaborForceRegion">Численность рабочей силы</p>
    <div class="chart-description">
        Отображает общее количество экономически активного населения (занятые + безработные) 
        по регионам. Позволяет сравнить трудовой потенциал разных субъектов РФ.
    </div>
    <canvas id="LaborForceRegion"></canvas>
</div>

<div class="show-charts">
    <p id="p-WorkForceLevel">Уровень участия в рабочей силе</p>
    <div class="chart-description">
        Демонстрирует процент населения трудоспособного возраста, которое составляет 
        рабочую силу (работает или активно ищет работу). Ключевой показатель экономической активности.
    </div>
    <canvas id="WorkForceLevel"></canvas>
</div>

<div class="show-charts">
    <p id="p-WorkForceHE">Доля рабочей силы с образованием</p>
    <div class="chart-description">
        Отражает процент занятых с высшим или средним профессиональным образованием. 
        Позволяет оценить качество трудовых ресурсов и квалификационный уровень регионов.
    </div>
    <canvas id="WorkForceHE"></canvas>
</div>