{% extends "base.html" %}
{% load static %}
{% block title %}Карта регионов России{% endblock %}

{% block style %}
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">

    <link rel="stylesheet" href="{% static 'map/css/style_map.css' %}"/>
    <link rel="stylesheet" href="{% static 'map/css/info_map.css' %}"/>

    <link rel="stylesheet" href="{% static 'css/download_btn.css' %}"/>
{% endblock %}


{% block content %}
    <div class="about-russia">
        <div class="map-russia">
            {% include "map/russia.html" %}
        </div>
        <div class="select-from-list-and-text">
            <p id="title-name">СТАТИСТИКА ПО РОССИИ</p>
            <select class="select-time">
                <option value="all" selected="selected"></option>
            </select>
            <button id="button-show-info">ПОИСК</button>
            <div id="anchors">
                <a href="#p-population">Численность</a>
                <a href="#p-EmploymentRussia">Рабочая сила</a>
                <a href="#p-EmploymentByTypeOfWork">Занятость</a>
                <a href="#show-two-type-charts">Рабочие места</a>
            </div>
        </div>
    </div>

    <div class="show-info">
    
        {% include "map/info_map.html" %}

    </div>


{% endblock %}
{% block scripts%}
    <!-- подключение jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- подключение selext2 -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
    <!-- подключение axois (для получения данных) -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- подключение chart -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- <script src="{% static 'map/js/all_russia.js' %}"></script> -->
    <script src="{% static 'api\js\data_map.js' %}"></script>
    <script src="{% static 'map/js/buttons_on_map.js' %}"></script>
    <!-- обработка скачивания -->
    <script src="{% static 'js/download_png.js' %}"></script>




{% endblock%}