<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Занятость регионов РФ{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% block style %}{% endblock %}
</head>
<body>
    <header class ="topnav">
            <nav class="primary-navigation">
                <a role="menuitem" class="dropdown-item" href="{% url 'main' %}">
                    <img class="logo-main__img"  src="{% static 'main/image/image.png' %}" alt="Занятость РФ" >
                    <span>Занятость РФ</span>
                </a>
                <a role="menuitem" class="dropdown-item" href="{% url 'map' %}">Общая статистика</a>
                <a role="menuitem" class="dropdown-item" href="{% url 'regions' %}">Выбрать регион</a>
                <a role="menuitem" class="dropdown-item" href="{% url 'compare' %}">Сравнить регионы</a>
                {% if user.is_authenticated %}
            	<a class="nav-item nav-link" href="{% url 'profile' %}">Профиль</a>
            	<form method="post" action="{% url 'logout' %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-link nav-item nav-link" 
                        style="display: inline; border: none; background: none; padding: 0.5rem 1rem;">
                    Выход
                </button>
                </form>
          	{% else %}
            	<a class="nav-item nav-link" href="{% url 'login' %}">Вход</a>
            	<a class="nav-item nav-link" href="{% url 'register' %}">Регистрация</a>
          	{% endif %}
          </nav>
    </header>
    <main class="main-content">
        {% block content %}{% endblock %}
    </main>
    <footer class="footer">
        <div class="footer_bottom">
            <div class="footer_section">
                <!-- контакты -->
                <p>Российский государственный университет МИРЭА</p>
                <p>Проект выполнен студентами группы ИКБО-40-23: Кузнецова М.С, Кононова А.А</p>
                
            
            </div>
            <div class="footer_section">
                <!-- авторское право -->
                <p>© 2025 Все права защищены</p>
            </div>
    </div>
    
    </footer>
    {% block scripts %}{% endblock %}
    <script src="{% static 'main/js/base.js' %}"></script>
</body>
</html>